@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #5EA866; /* Sprout Green */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden; /* 3D背景のためスクロール防止 */
}